/* mall devices (landscape phones, 576px and up) */
@media (max-width: 575px) {
   .email,
  .phone,
  .website {
    display: none;
  }  
}


@media (min-width: 576px) { 
  .email,
  .website {
    display: none;
  }  
}
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .email {
    display: table-cell;
  }
  .phone {
    display: table-cell;
  }
 
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  .phone {
    display: table-cell ;
  }
  .website {
    display: table-cell;
  }
 
 }

 .collapse .transition {
  transition: 0.4s !important;
 }
